%section#about.about
  .container
    .row
      .col-lg-12.text-center
        %h2 About River Side Recovery of Florida
        %img.img-portfolio.img-responsive{:src => "/assets/about.jpg"}/
        .content.lead.text-left
          %p A structured living and living environment is an essential part of recovery.  It sets a person up to maintain long term sobriety.  At Riverside Recovery, we believe in fostering  a healthy 12- step recovery program while instilling work ethic, self- sufficiency and personal responsibility.  The structure of our recovery residence promotes the growth of healthy habits and allows enough fun and relaxation for our residents to appreciate the blessings of sobriety.  Our clients will feel greater distance from the monotony of active addiction, as well as institutionalization that came from prolonged time in residential treatment. 

