.col-xs-12
  = image_tag 'logo_big.png', class: 'img-responsive center-block'
.col-xs-6
  .pull-right
    = image_tag 'farr_logo.png', class: 'img-responsive center-block'
.col-xs-6
  .pull-left
    = image_tag 'narr_logo.png', class: 'img-responsive center-block'
