%section#our_program.our_program
  .container
    .row
      .col-lg-12.text-center
        %h2 Our Program
        %img.img-portfolio.img-responsive{:src => "/assets/our_program1.jpg"}/
        .content.lead.text-left
          %p It’s very important for a newly sober person to recognize the beginning and end of each day.  At Riverside Recovery at 8:00 am residence get together and have a morning round up meeting.  This gives our residence a chance to express any concerns they have for the day and gives us a chance to provide assistance to help them accomplish daily goals.  We also use this time to start the day with a morning meditation.

          %p 
            Every night after curfew we hold a nightly wrap up group.  This is a time to discuss and reflect upon our day.  We talk about issues that come up in recovery.  This is a time for residents to get together, process their day and address any issues that may come up in and outside of the recovery residence.  Holding each other accountable and showing support to one another is a very important part of recovery.  

        %img.img-portfolio.img-responsive{:src => "/assets/our_program2.jpg"}/
