%section#our_program.our_program
  .container
    .row
      .col-lg-12.text-center
        %h2{ style: 'color:#fff'} Our Program
        %img.img-portfolio.img-responsive{:src => "/assets/our_program1.jpg"}/
        .content.lead.text-left
          %p Riverside Recovery is Recovery Residence designed specifically for young men ages 18-28 that have struggled with substance abuse and addiction. Situated on private riverfront property in North Palm Beach, FL.   We are a Farr Level III certified facility.  FARRonline.org
          %p We take a common sense approach to rehabilitation. Rather than being institutional, we implement a highly structured program in a casual living environment with onsite staff 24 hours a day. All of our residents have individualized recovery plans in place designed specifically for them by our staff. Our clients participate in daily group activities, recreation therapy, community outings, and 12-step applications in a supportive, brotherhood-focused community. Although Riverside Recovery is a recovery residence provider, our individualized and hands-on approach to the services we offer for young men stand out from those of standard recovery residence programs across the area. Access to trusted treatment facilities with O.P., I.O.P., P.H.P. and Detox levels of care.  
          %p What makes us really unique, however, is our belief in teaching young men to live life on life’s terms. Our goal is to instill a love for the life that they have been graciously given. Fun, love, and helping others are the answers to a successful rehabilitation at Riverside Recovery.

        %img.img-portfolio.img-responsive{:src => "/assets/our_program2.jpg"}/
