%section#requirements.requirements
  .container
    .row
      .col-lg-12.text-center
        %h2 Requirements
        %img.img-portfolio.img-responsive{:src => "/assets/requirements.jpg"}/
        .content.lead.text-left
          %p 
            Requirements of Riverside Recovery
            %ul
              %li Stay sober
              %li Participate in all Riverside Recovery activities
              %li Pass our application screening
              %li Follow all rules
              %li Violent and sexual offenders crime offenders are prohibited.
          %p 
            12 step meetings
          %p 
            A minimum of 5, 12 step meetings a week are required for residents of Riverside Recovery.  Residents are also required to attend Monday house meeting and other scheduled weekly groups and recreational activities.  This is a time to run into people, old and new into the program and connect with sponsors.  Transportation is always provided for meetings to residents without vehicles.
