%section#requirements.requirements
  .container
    .row
      .col-lg-12.text-center
        %h2 Requirements
        %img.img-portfolio.img-responsive{:src => "/assets/requirements.jpg"}/
        .content.lead.text-left
          %ul
            %li Maintain Sobriety
            %li Follow House Expectations & Policies
            %li Attend Daily Twelve Step Meetings 
            %li Actively Apply Twelve Steps toward your daily life
            %li Find employment and continue treatment
            %li Attend House Meetings
            %li Commit to 181 days to our program.
            %li Maintain a good attitude 

          %p A minimum of 5, 12 step meetings a week are required for residents of Riverside Recovery. Residents are also required to attend Monday house meeting and other scheduled weekly groups and recreational activities. This is a time to run into people, old and new into the program and connect with sponsors.
