%section#riverside_living.riverside_living
  .container
    .row
      .col-lg-12.text-center
        %h2 Riverside Living
        -#%img.img-portfolio.img-responsive{:src => "/assets/"}/
        -#.content.lead.text-left
          %p 


